<html>
  <head>
    <title>TS Test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../dist/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <h1 class="text-center">Hello World</h1>
          <ul class="list-group">

            <!-- Create Input -->
            <inputform :tasks="tasks"></inputform>
            <!-- /Create Input -->

            <!-- Incomplete Tasks -->
            <li class="list-group-item" :class="{ 'incomplete' : task.complete == false }" v-for="task in tasks" v-if="task.complete == false" transition="slide">
              <!-- Complete Btn -->
              <button class="btn btn-default btn-xs button-circle complete-btn" @click.prevent="toggleComplete(task)" v-if="task.edit == false">
                <span class="fa fa-check"></span>
              </button>
              <!-- Task Title -->
              <span @dblclick.prevent="toggleEdit(task)" v-if="task.edit == false">{{ task.title }}</span>
              <!-- Edit Task Input -->
              <input type="text" class="form-control" v-else :value="task.title" @keyup.enter="submitEdit(task, $event)">
              <!-- Delete Task Btn -->
              <button class="btn btn-xs btn-danger pull-right delete-btn" @click.prevent="deleteTask(task, tasks)" v-if="task.edit == false">
                Delete
              </button>
            </li>
            <!-- /Incomplete Tasks -->

            <!-- Completed Tasks -->
            <li class="list-group-item" :class="{ 'complete' : task.complete == true }" v-for="task in tasks" v-if="task.complete == true" transition="slide">
              <!-- Incomplete Btn -->
              <button class="btn btn-default btn-xs button-circle complete-btn" @click.prevent="toggleComplete(task)">
                <span class="fa fa-times"></span>
              </button>
              <!-- Task Title -->
              {{ task.title }} ( Completed )
              <!-- Delete Task Btn -->
              <button class="btn btn-xs btn-danger pull-right delete-btn" @click.prevent="deleteTask(task, tasks)">
                Delete
              </button>
            </li>
            <!-- /Completed Tasks -->

          </ul>
        </div>
      </div>
    </div>


    <script src="../dist/js/app.js"></script>
  </body>
</html>
